:root {
  --green-dark: #073b4c;
  --blue-metal: #118ab2;
  --red-out: #990d35;
  --green-in: #06d6a0;
  --orange: #ffd166;
  --sm: 1.2rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

li {
	list-style: none;
}

html {
  font-size: 62.5%;
  font-family: 'Lexend Deca', sans-serif;
}

header {
	display: grid;
	grid-template-columns: auto auto 1fr;
	position: sticky;
	justify-items: center;
	width: 100%;
	height: 65px;
	align-items: center;
	background-color: var(--green-dark);
}

.logo {
	height: 56px;
	border-radius: 16px;
	margin: 4px;
}

.logo-title {
	color: var(--orange);
	text-align: center;
	font-size: 1.8rem;
}

header nav li {
	margin-bottom: 4px;
}

header nav a {
	font-size: var(--sm);
	font-weight: 500;
}

main {
	background-color: var(--blue-metal);
	padding: 0 8px;
}

main form label {
	font-size: var(--md);
}

main form input {
	width: 80px;
	height: 24px;
	text-align: center;
	font-size: var(--md);
	border-radius: 2px;
	border: 1px solid black;
	background-color: #e5e5e5;
}

main form input:focus-visible {
	outline: 2px auto #38b000;
}

.main-title {
	text-align: center;
	padding: 8px 0;
}

.main-label-year {
	font-size: var(--md);
}

#year {
	width: 90px;
	height: 24px;
}

.main-subtitle {
	margin: 12px 0;
	text-align: center;
	font-size: var(--md);
	font-weight: bolder;
}

main .main-form-container {
	display: grid;
	grid-template-rows: auto auto;
	width: 100%;
	height: auto;
}

.main--salaryAcomulado, .main--deducibles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	gap: 8px;
}

.main--deducibles {
	grid-template-rows: auto;
	margin-top: 16px;
}

#defauldYear {
	margin-top: 12px;
	text-align: center;
	font-size: var(--md);
	font-weight: bold;
	color: var(--red-out);
}

.main--salaryAcomulado div, .main--deducibles div {
	display: flex;
	flex-direction: column;
	place-content: center;
	justify-items: center;
}

.main--deducibles .main--spec-otros {
	width: 52px;
	font-size: var(--sm);
}

.primary-button {
	width: 100px;
	height: 32px;
	margin: 4px;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--orange);
}

.main-result-container {
	display: grid;
	grid-template-columns: auto 1fr;
	padding: 16px 0;
}

.main-result-container table {
	text-align: left;
}

.main-result-container table td, 
.main-result-container table th {
	font-size: var(--md);
	border-bottom: 1px solid black;
}

.main-result-table .income {
	color: var(--green-in);
}

.main-result-table .outcome {
	color: var(--red-out);
}

footer {
	display: grid;
	grid-template-rows: auto 1fr;
	width: 100%;
	height: 60px;
	justify-content: center;
	background-color: var(--green-dark);
}

footer .footer-dedication {
	font-size: var(--sm);
	color: #06d6a0;
	text-align: center;
	padding: 8px 0 0 0;
}

footer .footer-others-links {
	display: flex;
	align-self: center;
	gap: 10px;
}


